body {
    margin: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

p {
    font-size: 18px;
}

section {
    margin-top: 12%;
}

#amount-input {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-style: none;
    border-bottom: 1px solid rgba(184, 184, 184, 0.8);
    outline: none;
}

#mail-input {
    background-color: rgba(189, 189, 189, 0.7);
    width: 300px;
    height: 20px;
    padding: 16px;
    border-radius: 10px 0 0 10px;
    border-style: none;
}

#top-section-content-top-margin {
    margin-top: 10%;
}

#grey-color-card {
    background-color: rgba(192, 190, 190, 0.4);
}

#water-color-card {
    background-color: rgba(178, 199, 199, 0.4);
}

#pink-color-card {
    background-color: rgba(240, 188, 245, 0.4);
}

.common-content-style {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.btn-style {
    text-decoration: none;
    background-color: rgb(255, 83, 53);
    color: white;
}

#donate-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

#subscribe-btn {
    position: relative;
    width: 100px;
    height: 52px;
    left: -5px;
    border-style: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.top-section-bg-img {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(../images/donation-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 0;
}

.white-color {
    color: white;
}

.orange-color {
    color: rgb(206, 67, 25);
}

.blue-color {
    color: rgb(161, 85, 49);
}

.grey-color {
    color: rgb(134, 134, 134);
}

.donate-amount-section {
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}

.donate-amount-section h2 {
    padding: 40px;
}

.red-mark-border {
    border: 2px solid red;
    background-color: rgb(228, 190, 190);
    color: rgb(219, 63, 63);
}

.card-body {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.card-body div {
    width: 100%;
    margin: 20px;
    padding: 30px;
    padding-top: 50px;
}

.card-body img {
    height: 60px;
    width: 60px;
}

footer {
    background-color: rgb(21, 25, 37);
    width: 100%;
    position: absolute;
    margin-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

footer div {
    margin-top: 3%;
}

footer p {
    font-size: 15px;
    font-style: normal;
}

.email-part {
    text-align: center;
    background-color: rgba(234, 211, 240, 0.6);
    border-radius: 10px;
    height: 100px;
    padding: 50px;
    width: 65%;
    margin-left: 14%;
    margin-top: 4%;
}

.email-part input,
.email-part a {
    margin-top: 20px;
}

.gallery-section {
    display: flex;
    margin-left: 12%;
    margin-top: 2%;
}

.gallery-section img {
    width: 260px;
    height: 200px;
}

.gallery-section div {
    margin-right: 5%;
    width: 300px;
    height: 240px;
}

.gallery-section img:hover {
    width: 300px;
    height: 240px;
}